<h1>Editing wiki article</h1>

<%= render "form", wiki_article: @wiki_article %>

<br>

<div>
  <%= link_to "Show this wiki article", @wiki_article %> |
  <%= link_to "Back to wiki articles", wiki_articles_path %>
</div>
