/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .navbar-nav .nav-item {
  margin-left: auto; /* Pushes the "New wiki article" link to the right */
}
.title-link {
  color: #337ab7;
  /* Add any other styles you want for the title link */
}
.title-link {
  text-decoration: none; /* Remove underline from article title links */
}
.centered-content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align content to the top */
  min-height: 100vh; /* Ensure full height */
}

.container {
  text-align: left; /* Align content inside container to the left */
  max-width: 960px; /* Limit container width */
  padding: 0 15px; /* Add padding to the sides */
}
